@import 'src/global.scss';

$item-h: 40px;
.prefixIcon {
  margin-left: -4px;
  font-size: 18px;
  color: rgba($color: $text-color, $alpha: 0.2);
}
.keyBoard {
  @extend .prefixIcon;
  svg {
    width: 20px;
    height: 12px;
  }
}

.layout {
  width: 100%;
  margin: 0 auto;
  padding: 0 $padding;
  .input {
    width: 100%;

    label {
      color: #fff;
    }
    input {
      color: #fff;
    }
    :global {
      .MuiInput-underline {
        &:hover {
          border-color: #fff;
          &::before {
            border-color: #fff;
          }
        }
        &::before {
          border-color: #fff;
        }
      }
    }
  }
}

.captcha {
  height: $item-h;
  img {
    width: 100%;
    height: 100%;
  }
}

.submit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h2 {
    color: #9c8876;
    font-size: 28px;
  }
}

.toolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: $small-padding 0;
  a {
    color: $gray-5;
    text-decoration: underline;
  }
}

.submitWrapper {
  position: relative;
  .fabProgress {
    position: absolute;
    top: -6px;
    left: -6px;
    z-index: 1;
  }
}

.alert {
  background-color: rgba($color: #000000, $alpha: 0);
  border: none;
  :global {
    .ant-alert-message {
      color: $volcano-2;
    }
    .anticon-close {
      color: #e5e5e5;
    }
  }
}
