@import 'src/global.scss';

:global(.ant-layout-header) {
  &.header {
    padding: 0 0 0 18px;
    background: #fff;
    position: sticky;
    transition: all 0.5s;
    top: 0;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  }
}

.logo {
  display: flex;
  color: rgba($color: $text-color, $alpha: 0.74);
  align-items: center;
  img {
    height: 24px;
    margin-right: 8px;
  }
  h1 {
    font-weight: 700;
    margin: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
    font-family: Avenir, -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
      helvetica neue, Arial, noto sans, sans-serif, apple color emoji,
      segoe ui emoji, segoe ui symbol, noto color emoji, sans-serif;
  }
}

.icon {
  line-height: 1;
  height: 100%;
  margin: 0 $small-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s;
  cursor: pointer;
  &:hover {
    color: $primary-5;
  }
  & > span {
    &:first-child {
      font-size: 20px;
    }
  }
}
