@import 'src/global.scss';

:global(.ant-layout-header) {
  &.header {
    padding: 0 0 0 18px;
    background: #fff;
    position: sticky;
    transition: all 0.5s;
    top: 0;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  }
}

.logo {
  display: flex;
  color: rgba($color: $text-color, $alpha: 0.74);
  img {
    max-height: 64px;
  }
  h1 {
    font-weight: 700;
    color: rgba($color: $text-color, $alpha: 0.74);
  }
}

.icon {
  line-height: 1;
  height: 100%;
  margin: 0 $small-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  &:hover {
    & > i {
      font-size: 30px;
    }
    color: $primary-5;
  }
  & > i {
    transition: all 0.2s;
    font-size: 24px;
  }
  & > span {
    font-size: 14px;
  }
}
