@import 'src/global.scss';

.header {
  padding: $padding;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-app-region: drag;
}

.sign {
  position: relative;
  border-radius: 36px;
  height: 100%;
  overflow: hidden;
  display: flex;
  padding: 0 $padding;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url('../assets/back.png');
  background-position: -308px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  .logo {
    height: 50px;
    margin-right: $small-padding;
  }
  .title {
    flex: auto;
    top: 0;
    text-align: center;
    overflow: hidden;
    position: absolute;
    left: $large-padding;
    top: 170px;
    h1 {
      font-size: 24px;
      color: #fff;
      font-weight: 400;
      margin: 0;
      width: 100%;
    }
  }
}

.normal {
  width: 100%;
  height: 100%;
  background: rgba($color: #f7f7f7, $alpha: 0);
}

.sider {
  :global(.ant-layout-sider-zero-width-trigger) {
    background: $primary-5;
    line-height: 34px;
    height: 34px;
    top: 0px;
    left: 0;
    animation: siderZero 0.6s;
  }
  box-shadow: 0 2px 2px -2px rgba($color: #000000, $alpha: 0.16),
    0 6px 6px 0 rgba($color: #000000, $alpha: 0.12),
    0 12px 12px 4px rgba($color: #000000, $alpha: 0.09);
  z-index: 99;
}

@keyframes siderZero {
  from {
    width: 0;
  }
  to {
    width: 36px;
  }
}

.trigger {
  $height: 40px;
  cursor: pointer;
  height: $height;
  text-align: center;
  font-size: 18px;
  background: $gray-4;
  transition: all 0.2s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  &:hover {
    background: $gray-7;
  }
  .text {
    font-size: 14px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
  }
}
